[mysqld]
max_allowed_packet = 128M
key_buffer_size=32M
innodb_buffer_pool_size=900M
innodb_file_per_table=1
innodb_flush_method=O_DIRECT
innodb_flush_log_at_trx_commit=0
transaction-isolation = READ-COMMITTED
innodb_log_file_size = 256M
innodb_log_buffer_size = 2M
long_query_time = 1
max_binlog_size = 100M
sync_binlog=0
innodb_strict_mode = OFF
max_connections = 128
wait_timeout = 60000
default-time-zone='Europe/Moscow'
default_time_zone='+03:00'